.loginMain {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 32px;
  gap: 32px;
}

.left,
.right {
  flex: 1;
}

.loginHeader {
  padding: 16px 32px 0;
}
.pageWrapper {
  min-height: 100vh;
  background-color: #f9f9f9;
  display: flex;
}

.loginContainer {
  width: 100%;
}

.loginImgCard {
  position: relative;
  height: 654px;
  width: 100%;
}

.loginCardDesc {
  position: absolute;
  display: flex;
  gap: 8px;
  background-color: var(--color-white);
  bottom: 97px;
  left: 61px;
  width: 294px;
  border-radius: 20px;
  padding: 16px;
}

.petAvatar {
  background-color: var(--color-light-yellow);
  flex: 0 0 60px;
  border-radius: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.petTopRow {
  display: flex;
  gap: 48px;
}

.petName {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--color-dark-yellow);
}

.petBirthdayLabel {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

.petBirthdayDate {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #262626;
}

.petInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.petText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.8);
}

.formCard {
  background-color: var(--color-white);
  border-radius: 60px;
  height: 654px;
  padding: 118px 84px;
}

.loginTitle {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: var(--color-black);
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: -0.02em;
  color: var(--color-black);
}

.form {
  display: flex;
  flex-direction: column;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
}

.fieldGroup + .fieldGroup {
  margin-top: 16px;
}

.input {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  width: 100%;
  padding-left: 16px;
  padding-right: 50px;
  height: 52px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--color-black);
}

.passWrapper {
  position: relative;
}

.eyeIcon {
  fill: none;
  color: var(--color-dark-yellow);
}

.eyeBtn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.input:hover,
.input:focus {
  border-color: var(--color-dark-yellow);
  outline: none;
}

.inputError {
  border-color: #ef2447;
  color: rgba(38, 38, 38, 0.8);
}

.inputOkay {
  border-color: #08aa83;
}

.inputError:focus,
.inputError:hover {
  border-color: #ef2447;
}

.inputOkay:focus,
.inputOkay:hover {
  border-color: #08aa83;
}

.input::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

.submitBtn {
  margin-top: 48px;
  margin-bottom: 16px;
  border-radius: 30px;
  height: 52px;
  border: none;
  background-color: var(--color-dark-yellow);
  transition: background-color 0.2s ease;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--color-white);
  cursor: pointer;
}

.submitBtn:hover {
  background-color: #f9b020;
}

.bottomText {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

.bottomLink {
  font-family: var(--font-family);
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-dark-yellow);
  margin-left: 2px;
  transition: color 0.2s ease;
}

.bottomLink:hover {
  color: #f9b020;
}

.error {
  margin-top: 4px;
  margin-left: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: #ef2447;
}
