.heroCard {
  height: 384px;
  width: 100%;
  border-radius: 60px;
  background: var(--color-dark-yellow);
  position: relative;
  padding: 27px 64px 32px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 90px;
  line-height: 97%;
  letter-spacing: -0.03em;
  color: var(--color-white);
  max-width: 760px;
  margin: 0;
}

.titleLight {
  color: rgba(255, 255, 255, 0.4);
}

.heroContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}

.subtitle {
  margin: 0;
  color: var(--color-white);
  max-width: 255px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: -0.02em;
}

.imageCard {
  height: 384px;
  border-radius: 60px;
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
