.friendCard {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  padding: 12px 12px 40px 20px;
  border-radius: 15px;
  width: 100%;
  max-width: 335px;
  height: 184px;
  position: relative;
  min-width: 0;
}

.friendImg {
  width: 80px;
  height: 80px;
}

.workingTime {
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 30px;
  padding: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: var(--color-dark-yellow);
  background-color: #fff4df;
}

.friendImg {
  margin-right: 14px;
  flex-shrink: 0;
}

.friendContent {
  flex: 1;
  min-width: 0;
}

.friendTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.04em;
  color: var(--color-black);
  margin-bottom: 14px;
}

.friendInfoGrey {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
  display: flex;
  min-width: 0;
  gap: 4px;
}

.friendInfo {
  flex: 1;
  min-width: 0;
  flex: 0 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--color-black);
}

.friendDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 768px) {
  .friendCard {
    width: 100%;
    max-width: none;
    height: 196px;
  }

  .friendImg {
  width: 90px;
  height: 90px;
}

  .workingTime {
    font-size: 14px;
    line-height: 129%;
  }

  .friendImg {
    margin-right: 16px;
    flex-shrink: 0;
  }

  .friendTitle {
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 20px;
  }
}

@media (min-width: 1280px) {
  .friendCard {
    width: 100%;
    max-width: none;
  }

  .friendImg {
    margin-right: 20px;
  }
}
