.newsCards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 40px;
}

.newsCards > li {
  flex: 0 0 calc((100% - 35px * 2) / 3);
}

.newsCardsMainTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: var(--color-black);
  margin-bottom: 60px;
  margin-top: 107px;
}
