.header {
  display: flex;
  align-items: center;
}

.logoImage {
  width: auto;
  height: 28px;
  object-fit: contain;
  display: block;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navLink {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 30px;
}

.auth {
  display: flex;
  gap: 8px;
}

.loginBtn,
.registerBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 30px;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.dark .navLink {
  color: var(--color-white);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.dark .loginBtn {
  color: var(--color-white);
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  padding: 15px 35px;
}

.dark .registerBtn {
  color: var(--color-dark-yellow);
  background: var(--color-light-yellow);
  padding: 15px 20px;
}


.light .navLink {
  color: var(--color-black);
  border: 1px solid rgba(38, 38, 38, 0.15);
}

.light .loginBtn {
  background-color: var(--color-dark-yellow);
  padding: 15px 35px;
    color: var(--color-white);
}

.light .registerBtn {
  color: var(--color-dark-yellow);
  background: var(--color-light-yellow);
  padding: 15px 20px;
}