.burgerBtn {
  border: none;
  background: transparent;
  font-size: 36px;
  cursor: pointer;
  display: inline-flex;
  margin-left: auto;
}

.menuOverlay {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
}

.menuPanel {
  width: 260px;
  height: 100%;
  background: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.menuTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closeBtn {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background: transparent;
  font-size: 28px;
  cursor: pointer;
  line-height: 1;
}

.menuLogo {
  height: 28px;
  width: auto;
}

.menuNav {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.menuAuth {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 0 24px 24px;
}

/* Hide nav menu for mobile and tablet */

.nav,
.auth {
  display: none;
}

/* Tablet styles */

@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
  }
  .logoImage {
    width: auto;
    height: 28px;
    object-fit: contain;
    display: block;
  }

  .dark .burgerBtn {
    color: var(--color-white);
  }

    .light .burgerBtn {
    color: var(--color-black);
  }

  .menuPanel {
    width: 374px;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .closeBtn {
    position: absolute;
    top: 39px;
    right: 32px;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
    color: var(--color-black);
  }

  .menuNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .menuNav .navLink {
    width: 120px;
    text-align: center;
    padding: 15px 0;
    border-radius: 30px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: var(--color-black);
    line-height: 125%;
    letter-spacing: -0.03em;
    border: 1px solid rgba(38, 38, 38, 0.4);
    background: transparent;
  }

  .menuNav .navLink.navBorder {
    border-color: var(--color-dark-yellow);
  }

  .menuAuth {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-bottom: 40px;
  }

  .menuLoginBtn,
  .menuRegisterBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    height: 50px;
    font-weight: 500;
    font-size: 15px;
    line-height: 125%;
    letter-spacing: -0.03em;
    font-family: var(--font-family);
    text-transform: uppercase;
    text-decoration: none;
  }

  .menuLoginBtn {
    background-color: var(--color-dark-yellow);
    color: var(--color-white);
    padding: 0px 35px;
  }

  .menuRegisterBtn {
    background: var(--color-light-yellow);
    color: var(--color-dark-yellow);
    padding: 0px 20px;
  }
}

/* Desctop styles */

@media (min-width: 1280px) {
  .nav {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .navLink {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.03em;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 30px;
  }

  .auth {
    display: flex;
    gap: 8px;
  }

  .loginBtn,
  .registerBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 30px;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  .dark .navLink {
    color: var(--color-white);
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  .dark .navLink.navBorder {
    border: 1px solid var(--color-dark-yellow);
  }

  .dark .loginBtn {
    color: var(--color-white);
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    padding: 15px 35px;
    transition: background-color 0.2s ease, color 0.2s ease;
  }

  .dark .loginBtn:hover {
    color: var(--color-dark-yellow);
    background-color: var(--color-light-yellow);
  }

  .dark .registerBtn {
    color: var(--color-dark-yellow);
    background: var(--color-light-yellow);
    padding: 15px 20px;

    border: 1px solid transparent;
    transition: color 0.2s ease, background-color 0.2s ease,
      border-color 0.2s ease;
  }

  .dark .registerBtn:hover {
    color: var(--color-white);
    background: transparent;
    border-color: rgba(255, 255, 255, 0.4);
  }

  .light .navLink {
    color: var(--color-black);
    border: 1px solid rgba(38, 38, 38, 0.15);
  }

  .light .navLink.navBorder {
    border: 1px solid var(--color-dark-yellow);
  }

  .light .loginBtn {
    background-color: var(--color-dark-yellow);
    padding: 15px 35px;
    color: var(--color-white);
    transition: background-color 0.2s ease;
  }

  .light .loginBtn:hover {
    background-color: #f9b020;
  }

  .light .registerBtn {
    color: var(--color-dark-yellow);
    background: var(--color-light-yellow);
    padding: 15px 20px;
    transition: background-color 0.2s ease;
  }

  .light .registerBtn:hover {
    background-color: #fbe7c1;
  }

  .burgerBtn {
    display: none;
  }
}
