.pageWrapper {
  min-height: 100vh;
  background-color: #f9f9f9;
}

.noticesCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  min-width: 0;
}

.noticesCards > li {
  flex: 0 0 calc((100% - 32px * 2) / 3);
}

.pageTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: var(--color-black);
  margin-top: 96px;
}

.emptyMessage {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  color: rgba(38, 38, 38, 0.6);
}