:root {
  --font-family: "Manrope", sans-serif;
  --color-black: #262626;
  --color-dark-yellow: #f6b83d;
  --color-light-yellow: #fff4df;
  --color-white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding: 10px 20px;
  max-width: 375px;
  margin: 0 auto;
}

.containerWide {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .container {
    padding: 16px 32px;
    max-width: 768px;
  }

  .containerWide {
    padding: 0 32px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 16px 32px;
  }
  .containerWide {
    padding: 43px 64px 80px; 
  }
}
